<?xml version="1.0" encoding="utf-8"?>
<PluginDescriptor>
	<JavaPlugin>
		<interfaceClass>org.bimserver.plugins.modelcompare.ModelComparePlugin</interfaceClass>
		<implementationClass>org.bimserver.changecompare.ConstructionChangeBasedModelComparePlugin</implementationClass>
		<description>ConstructionChangeBased Model Compare Plugin</description>
	</JavaPlugin>
</PluginDescriptor>
